<nav class="pagination">
    <div>
      {{#if next}}
        <a class="older-comic-posts" href="{{page_url next}}"> Prev Comic &larr; </a>
      {{/if}}
        
      <span class="page-number">Book 1 of 5 | Chapter 1 of ?? | Page {{page}} of {{pages}}</span>

      {{#if prev}}
        <a class="newer-comic-posts" href="{{page_url prev}}"> Next Comic &rarr; </a>
      {{/if}}
	</div>
</nav>

