<nav class="pagination">
      
      {{#if next}}
        <a class="older-comic-posts" href="{{page_url next}}"> &larr; Prev Comic</a>
      {{/if}}

      <span>
        [<a href="http://too-many-curti.ghost.io/table-of-contents/">Table of Contents</a>]
      </span>
   
      {{#if prev}}
        <a class="newer-comic-posts" href="{{page_url prev}}"> Next Comic &rarr; </a>
      {{/if}}
</nav>

